node_modules
dist
.env
uploads/photos/*
uploads/videos/*
uploads/synced/*
server/uploads/photos/*
server/uploads/videos/*
server/uploads/synced/*
!uploads/photos/.gitkeep
!uploads/videos/.gitkeep
!server/uploads/photos/.gitkeep
!server/uploads/videos/.gitkeep
*.log
.DS_Store
